<% provide(:title, "Leaderboards") %>
<div id="pagewrap">
	<div class="wrapper grid">
		<article id="col_leaderboards">
		<h1>Leaderboards</h1>

		<p>
			In de leaderboards staan de top 10 spelers met het hoogste punten aantal. De punten kunnen worden verdient door het behalen van verschillende niveaus van badges en worden bij het totaal opgeteld. U kunt op de naam van een speler klikken om naar het desbetreffende dashboard te gaan.
		</p>

<!-- 			<ul class="period_select">
				<li class="period_name">Overall |</li>
				<li class="period_name">Deze maand |</li>
				<li class="period_name">Deze week</li>
			</ul> -->
			
			<table class="leaderboards">
				<tr class="sort_types">
					<th>Naam</th>
					<th><%= sortable "score", "Score" %></th>
					<th><%= sortable "mileage_ratio", "Ratio" %></th>
					<th><%= sortable "mileage_electric", "Elektrisch" %></th>
					<th><%= sortable "mileage", "Totaal" %></th>
				</tr>
				<% @cars.each do |car| %>

					<tr>



						<td class="leaderboards_td1 radius_left"><%= link_to car.user.user_name, user_name_dashboard_path(car.user.user_name)%></td>


						<% if car.score %>
							<td class="leaderboards_td2"><%= car.score %> punten</td>
						<% else %>
							<td class="leaderboards_td2">0 punten</td>
						<% end %>
						
						<% if car.mileage_ratio %>
							<td class="leaderboards_td3"><%= car.mileage_ratio %>%</td>
						<% else %>
							<td class="leaderboards_td3">0 %</td>
						<% end %>
						
						<% if car.mileage_ratio %>
							<td class="leaderboards_td4"><%= car.mileage_electric %> km</td>
						<% else %>
							<td class="leaderboards_td4">0 km</td>
						<% end %>
						
						<% if car.mileage %>
							<td class="leaderboards_td5 radius_right"><%= car.mileage %> km</td>
						<% else %>
							<td class="leaderboards_td5">0 km</td>
						<% end %>
					</tr>
				<% end %>
			</table>
			


			<h1>Uw behaalde resultaten</h1>
			<p>
				Hier zijn uw resultaten te vinden om te kunnen vergelijken met de top 10 spelers. 
			</p>

			<table class="leaderboards_current_user">
					<tr class="sort_types">
					<th>Naam</th>
					<th>Score</th>
					<th>Ratio</th>
					<th>Elektrisch</th>
					<th>Totaal</th>
				</tr>

				<tr>
					<td class="leaderboards_td1 radius_left">
						<%= link_to current_user.user_name, user_name_dashboard_path(current_user.user_name) %>
					</td>

						<% if current_user.car.score %>
							<td class="leaderboards_td2"><%= current_user.car.score %> punten</td>
						<% else %>
							<td class="leaderboards_td2">0 punten</td>
						<% end %>
					

						<% if current_user.car.mileage_ratio %>
							<td class="leaderboards_td3"><%= current_user.car.mileage_ratio %>%</td>
						<% else %>
							<td class="leaderboards_td3">0 %</td>
						<% end %>
						
						<% if current_user.car.mileage_ratio %>
							<td class="leaderboards_td4"><%= current_user.car.mileage_electric %> km</td>
						<% else %>
							<td class="leaderboards_td4">0 km</td>
						<% end %>
						
						<% if current_user.car.mileage %>
							<td class="leaderboards_td5 radius_right"><%= current_user.car.mileage %> km</td>
						<% else %>
							<td class="leaderboards_td5 radius_right">0 km</td>
						<% end %>
				</tr>
			</table>
		</article>


	</div>
</div>