<div id="pagewrap">
	<div class="wrapper grid3">
		<article class="col">
			
				<%= form_tag sessions_path do %>
				<ul>
					<li>
						<h2>Inloggen</h2>	
					</li>
					
					<li>
						<%= label :email, 'Email'%><br />
						<%= text_field_tag :email, params[:email], :class => 'field aligncenter', :placeholder => "Emailadres" %><br />
					</li>
					<li>	
						<%= label :password, 'Wachtwoord'%><br />
						<%= password_field_tag :password, '', :class => 'field', :placeholder => "Wachtwoord" %>
					</li>
					<li class="center">
						<%= link_to "Wachtwoord vergeten?", new_password_reset_path %></p>
					</li>
					<li class="center">
						<%= check_box_tag :remember_me, 1, params[:remember_me] %>
						<%= label_tag :remember_me, 'Onthoud mij' %>
					</li>
					<li class="center">
						<%= submit_tag 'Inloggen!', :class => "button" %>
					</li>
				</ul>
					
				<% end %>
				<!-- <div id="linkregister">
					<ul>
						<li>
							<%= link_to 'Nog geen account?', new_user_path %>
						</li>
					</ul>
				</div>	 -->		
					
		</article>
				
		<article class="col">
			<div id="register">
				<div class="aligncenter">
				
				<%= form_for(@user) do |f| %>
				
					<div id="vertical-line">
						
			
						<ul>
							<li>
								<h2>Registreren</h2>
							</li>
							<li>
							    <%= f.label :first_name, 'Voornaam *' %></strong><br>
							    <%= f.text_field :first_name, :class => 'field' %>
							</li>
							<li>
	    						<%= f.label :middle_name, 'Tussenvoegsel' %><br />
	    						<%= f.text_field :middle_name, class: 'field' %>
	    					</li>
							<li>
				  			    <%= f.label :last_name, 'Achternaam *' %></strong><br>
				  			    <%= f.text_field :last_name, :class => 'field' %>
							</li>
							<li>
				  			    <%= f.label :email, 'Email *' %></strong><br />
				  			    <%= f.text_field :email, :autofocus => true, :class => 'field' %>
								</li>
							<li>
				  			    <%= f.label :user_name, 'Gebruikersnaam *' %></strong><br />
				  			    <div class="tooltip"><%= f.text_field :user_name, :title => "De gebruikersnaam moet minimaal 4 en maximaal 20 tekens bevatten.", :class => 'field' %></div>
							</li>
							<li>
	      <%= f.label :birthday, 'Geboortedatum' %><br />
	      <%= f.date_select("birthday", :start_year => Date.current.year - 18, 
	                                    :end_year => Date.current.year - 90,
	                                    :order => [:day, :month, :year],
	                                    :prompt => {:day => 'Dag', :month => 'Maand', :year => 'Jaar'},
	                                    :use_month_names => ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Jlii', 'Augustus',
	                                    'September', 'Oktober', 'November', 'December']) %>
	    </li>
							<li>
							    <%= f.label :license_plate, 'Kenteken *' %></strong><br />
							    <%= f.text_field :license_plate, :placeholder => '81TRR8', :class => 'field' %>
							</li>
							<li>
							    <%= f.label :password, 'Wachtwoord *' %></strong><br />
							    <div class="tooltip"><%= f.password_field :password, :title => "Het wachtwoord moet minimaal 6 karakters bevatten, waarvan 1 hoofdletter, 1 kleine letter en 1 getal.", :class => 'field' %></div>
							</li>
							<li>
							    <%= f.label :password_confirmation, 'Wachtwoord verificatie *' %></strong><br />
							   <div class="tooltip"> <%= f.password_field :password_confirmation, :title => "Het wachtwoord moet minimaal 6 karakters bevatten, waarvan 1 hoofdletter, 1 kleine letter en 1 getal.", :class => 'field' %></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</article>
			
		<article class="col">
			<div id="register">	
				<div class="aligncenter">
					<ul>
						<li>
							<%= image_tag("avatar.png", :alt => "default-avatar", :class => "avatar_pre") %>
						</li>
						<li>
						<%= f.file_field :avatar%>
						</li>
						<li>
						<small><%= check_box :terms_of_service, 'true' %>
						Ik ga akkoord met de &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a>voorwaarden</a> en de <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a>privacy verklaring</a> *</small>
						</li>
						<li class="center">	
					      	<%= f.submit "Account aanmaken", :class => 'button' %>
						</li>
					<% end %>
				</div>
				
			</div>
		</article>	
		
</div>
</div>	
	 
	 
	 
	 
	 
