<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>	
		</div>

	<% end %>

	<h1>Nieuw Wachtwoord</h1>

	<p>Vul hier uw nieuwe wachtwoord in</p>
	
	<ul>
		<li style="margin-left:0;">
			<%= f.label :password, "Password" %><br />
			<%= f.password_field :password, class: "field" %>
		</li>
		<li style="margin-left:0;">
			<%= f.label :password_confirmation, "Password Confirmation" %><br />
			<%= f.password_field :password_confirmation, class: "field" %>
		</li>

		<li style="margin-left:0;">
			<%= f.submit "Update Password", class: "button"%>
		</li>
	</ul>
	
<% end %>
	