<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
	<h1>Nieuw Wachtwoord</h1>

	<p>Vul hier uw nieuwe wachtwoord in</p>
	
	<ul>
		<li style="margin-left:0;">
			<%= f.label :password, "Wachtwoord" %><br />
			<%= f.password_field :password, :title => "Het wachtwoord moet minimaal 6 karakters bevatten, waarvan 1 hoofdletter, 1 kleine letter en 1 getal.", :class => 'field'%>
		    <div class='help_text' class='username_help_text'>
				<h2>Wachtwoord</h2>
				<p>Uw wachtwoord bestaat uit:</p>
				<p>- Minimaal 6 tekens</p>
				<p>- Minimaal 1 hoofdletter en 1 kleine letter</p>
				<p>- Minimaal 1 getal</p>
			</div>
		</li>
		<li style="margin-left:0;">
			<%= f.label :password_confirmation, "Wachtwoord herhalen" %><br />
			<%= f.password_field :password_confirmation, :title => "Het wachtwoord moet minimaal 6 karakters bevatten, waarvan 1 hoofdletter, 1 kleine letter en 1 getal.", :class => 'field'%>
		    <div class='help_text' class='username_help_text'>
				<h2>Wachtwoord</h2>
				<p>Uw wachtwoord bestaat uit:</p>
				<p>- Minimaal 6 tekens</p>
				<p>- Minimaal 1 hoofdletter en 1 kleine letter</p>
				<p>- Minimaal 1 getal</p>
			</div>
		</li>

		<li style="margin-left:0;">
			<%= f.submit "Update Password", class: "button"%>
		</li>
	</ul>
	
<% end %>
	