

<!--http://www.plaatjesmakerij.nl/thumbnail2/thumbnail2.html
http://www.dynamicdrive.com/dynamicindex4/thumbnail2.htm-->
 


<div class="badge_collection">
			<div class="badge">
			<% @badges_electric.each do |badge| %>
				<%= image_tag badge.avatar_url(), class: 'avatar' %>		
				<!-- <% if badge.value == 0 %>
				<% else %>
				<p><%= badge.value %> elektrische kilometer badge </p>	  
				<p>Punten: <%= badge.points %></p>
				<% end %> -->
			<% end %>
	</div>

	<div class="badge">
			<% @badges_fossile.each do |badge| %>
				<%= image_tag badge.avatar_url(), class: 'avatar' %>		
				<!-- <% if badge.value == 0 %>
				<% else %>
				<p><%= badge.value %> fossiele kilometer badge </p>				 
				<p>Punten: <%= badge.points %></p>
				<% end %> -->
			<% end %>
		</div>

		<div class="badge">
			<% @badges_mileage.each do |badge| %>
				<%= image_tag badge.avatar_url(), class: 'avatar' %>		
				<!-- <% if badge.value == 0 %>
				<% else %>
				<p><%= badge.value %> totaal kilometer badge </p>				 
				<p>Punten: <%= badge.points %></p>
				<% end %> -->
			<% end %>
		</div>

</div>

