

<!--http://www.plaatjesmakerij.nl/thumbnail2/thumbnail2.html
http://www.dynamicdrive.com/dynamicindex4/thumbnail2.htm-->
 


<div class="badge_collection">
	
	
	
	<%= raw current_user.badges.electric.map {|badge| image_tag badge.avatar_url(), :class => "badge_display", :id => "green"}.to_sentence%>
	
	
	<%= raw current_user.badges.ratio.map {|badge| badge.description + (image_tag badge.avatar_url(), :class => "badge_display", :id => "green")}.to_sentence%>
	<%= raw current_user.badges.mileage.map {|badge| image_tag badge.avatar_url(), :class => "badge_display", :id => "general"}.to_sentence %>
	<%= raw current_user.badges.world.map {|badge| badge.description + (image_tag badge.avatar_url(), :class => "badge_display", :id => "divers")}.to_sentence %>
	
	
	

	

</div>




<!-- <div class="badge_description">
	<%= raw current_user.badges.map {|badge| badge.description} %>
</div> -->
