

<!--http://www.plaatjesmakerij.nl/thumbnail2/thumbnail2.html
http://www.dynamicdrive.com/dynamicindex4/thumbnail2.htm-->
 


<div class="badge_collection">
			<div class="badge" id="green">
			<% @badges_electric.each do |badge| %>
				<%= image_tag badge.avatar_url(), class: 'avatar' %>		
				
				<div class="badge_description">
					<%= badge.description %>
				</div>
				<!-- <% if badge.value == 0 %>
				<% else %>
				<p><%= badge.value %> elektrische kilometer badge </p>	  
				<p>Punten: <%= badge.points %></p>
				<% end %> -->
			<% end %>
	</div>
	
	<div class="badge" id="divers">
		<% @badges_ratio.each do |badge| %>
			<%= image_tag badge.avatar_url(), class: 'avatar' %>	
			<div class="badge_subject"><%= badge.subject %></div>
			<div class="badge_description">
				<%= badge.description %>
			</div>	
			<!-- <% if badge.value == 0 %>
			<% else %>
			<p><%= badge.value %> totaal kilometer badge </p>				 
			<p>Punten: <%= badge.points %></p>
			<% end %> -->
		<% end %>
	</div>


		<div class="badge" id="divers">
			<% @badges_mileage.each do |badge| %>
				<%= image_tag badge.avatar_url(), class: 'avatar' %>			
				<div class="badge_description">
					<%= badge.description %>
				</div>
				<!-- <% if badge.value == 0 %>
				<% else %>
				<p><%= badge.value %> totaal kilometer badge </p>				 
				<p>Punten: <%= badge.points %></p>
				<% end %> -->
			<% end %>
		</div>
</div>

