<div class="pagewrap">

	<div class="col_badges_left">
		<%= render 'badges' %>
	</div>

	<div class="col_badges_right">
		<div id="wrapper">
			<div class="sidebar_profile">
				<ul>
					<li class="center"><%= link_to 'Alle Badges', root_url%></li>
					<li class="center"><%= link_to 'Algemeen', root_url%></li>
					<li class="center"><%= link_to 'Groen', root_url%></li>
					<li class="center"><%= link_to 'D(r)ivers', root_url%></li>
					<li class="center" style="background:none"><%= link_to 'Uitzonderlijk', root_url%></li>	
				</ul>
			</div>

			<div class="sidebar_badge_info">
				<ul>
					<li class="center"><%= link_to 'Alle Badges', root_url%></li>
					<li class="center"><%= link_to 'Algemeen', root_url%></li>
					<li class="center"><%= link_to 'Groen', root_url%></li>
					<li class="center"><%= link_to 'D(r)ivers', root_url%></li>
					<li class="center" style="background:none"><%= link_to 'Uitzonderlijk', root_url%></li>	
				</ul>
			</div>
		</div>
	</div>
</div> 