<div id="pagewrap">
	<div class="fullwidth">
		<article class="col">
			<p id="notice"><%= notice %></p>
		</article>
	</div>
	
	<% if @user.errors.any? %>
	
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
		      <% @user.errors.flil_messages.each do |msg| %>
	        
				<li><%= msg %></li>
		      <% end %>
	 	  </ul>
	    </div>
	<% end %>
				  
				  
				  
	<article class="grid2"> 	
		<div class="col">			
		<%= form_for(@user) do |f| %>
		<div id="vertical-line-right">
			  <ul>
				<li>
					<h2>Profiel bewerken</h2>	
			 	</li>
		    
				<li>
					<%= image_tag @user.avatar_url(:thumb), :class => "avatar" if @user.avatar? %>
				</li>
	
				<li>
					<%= f.label :avatar %><br />
					<%= f.file_field :avatar %>
				</li>
			
				<li class="center">
					<h3><small class="profile">Model</small><br />
				    Opel Ampera</h3>
				</li>
		    
				<li>
			      <%= f.label :license_plate, 'Kenteken *' %><br />
		      
			      <%= f.text_field :license_plate, class: 'field'  %>
			    </li>
			</ul>
		</div>
		   

	   </article>

		<article class="col">	
			<div id="profile-info">    
				 <ul> 
				    <li> 
				      <%= f.label :user_name, 'Gebruikersnaam *' %><br />
				      <%= f.text_field :user_name, class: 'field'  %>
				    </li>

					<li>
				      <%= f.label :first_name, 'Voornaam *' %><br />
				      <%= f.text_field :first_name, class: 'field' %>
				    </li>

				    <li>
				      <%= f.label :last_name, 'Achternaam *' %><br />
				      <%= f.text_field :last_name, class: 'field'  %>
				    </li>

				    <li>
				      <%= f.label :birthday, 'Geboortedatum' %><br />
				      <%= f.date_select("birthday", :start_year => Date.current.year - 18, 
				                                    :end_year => Date.current.year - 90,
				                                    :order => [:day, :month, :year],
				                                    :prompt => {:day => 'Dag', :month => 'Maand', :year => 'Jaar'},
				                                    :use_month_names => ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Jlii', 'Augustus',
				                                    'September', 'Oktober', 'November', 'December']) %>
				    </li>      

				    <li>
				      <%= f.label :email, 'E-mail *' %><br />
				      <%= f.text_field :email, :autofocus => true, class: 'field'  %>
				    </li>

				  	<li>
				      <%= f.label :password, 'Wachtwoord *' %><br />
				      <%= f.password_field :password, class: 'field'  %>
					</li>

				  	<li>
				      <%= f.label :password_confirmation, 'Wachtwoord verificatie *' %><br />
				      <%= f.password_field :password_confirmation, class: 'field'  %>
					</li>

				    <% if current_user %>
				      <li><%= f.submit "Opslaan", :class => "button"%></li>
				    <% else %>
				      <li><%= f.submit "Registreer", :class => "button" %></li>
				    <% end %>
				  </ul>
			  </data>
		<% end %>

		</article>

	</div>
</div>

