<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div> 
      <strong><%= f.label :user_name, "Gebruikersnaam" %></strong><br />
      <%= f.text_field :user_name %>
    </div>

  	<div>
      <strong><%= f.label :email, 'E-mail' %></strong><br />
  		<%= f.text_field :email, :autofocus => true %>
	  </div>
  
  	<div>
      <strong><%= f.label :password, 'Wachtwoord' %></strong><br />
    	<%= f.password_field :password %>
	  </div>
  
  	<div>
      <strong><%= f.label :password_confirmation, 'Wachtwoord verificatie' %></strong><br />
    	<%= f.password_field :password_confirmation %>
	  </div>
    
  	<div>
      <strong><%= f.label :first_name, "Voornaam" %></strong><br />
    	<%= f.text_field :first_name %></div>
    
  	<div>
      <strong><%= f.label :last_name, "Achternaam" %></strong><br />
     	<%= f.text_field :last_name %>
    </div>

    <div>
      <strong><%= f.label :birthday, "Geboortedatum" %></strong><br />
      <%= f.datetime_select :birthday %>
    </div>
        <br/>
  	<div>
      <strong><%= f.label :license_plate, 'Kenteken' %></strong><br />
      <p>Het kenteken bestaat uit zes tekens. Er worden geen "-"tekens ingevuld.</p>
      <%= f.text_field :license_plate %>
    </div>
<<<<<<< HEAD
	<!-- Form field for uploading avatar -->
	<div><%= f.label :avatar %><br />
	<%= f.file_field :avatar %></div>
  
  <div><%= f.submit "Sign up" %></div>
=======
    
    <% if current_user %>
      <div><%= f.submit "Opslaan" %></div>
    <% else %>
      <div><%= f.submit "Registreer" %></div>
    <% end %>
>>>>>>> 93c22395c853619ae22ae0d32133ed0bd96a0e59

<% end %>

