
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('.avatar')
.attr('src', e.target.result);
};

reader.readAsDataURL(input.files[0]);
}
}
</script>

</head>


<div id="pagewrap">		
<%= form_for(@user) do |f| %>
	

		<div class="wrapper grid2">	
			<article class="col">
				<div id="vertical-line-right">
					<ul>

						<li>
							<h2>Bewerken</h2>
						</li>
						<li>
							<% if @user.avatar? %>
							<%= image_tag @user.avatar_url(:thumb), :class => "avatar" %>
							<% else %>
							<%= image_tag("avatar.png", :alt => "default-avatar", :class => "avatar") %>
							<% end %>
						</li>
						<li>
						<%= f.file_field :avatar, :onchange => "javascript: readURL(this);"%>
						</li>
						<% if @user.new_record? %>
						<li>
			  			    <%= f.label :user_name, t('labels.user_name') %></strong><br />
			  			    <div class="tooltip"><%= f.text_field :user_name, :title => "De gebruikersnaam moet minimaal 4 en maximaal 20 tekens bevatten.", :class => 'field' %></div>
						</li>
						<% end %>
					
					</ul>
				</div>
			</article>

		
	
		
								<!-- <%= link_to 'Terug', :root %> -->

	
	
			<article class="col">
				<ul>
					<li class="left top">
					    <%= f.label :first_name, t('labels.first_name') %></strong><br>
					    <%= f.text_field :first_name, :class => 'field' %>
					</li>
					

					<li class="left">
		  			    <%= f.label :last_name, 'Achternaam' %></strong><br>
		  			    <%= f.text_field :last_name, :class => 'field' %>
					</li>
					
						<li class="left">
	      <%= f.label :birthday, 'Geboortedatum' %><br />
	      <%= f.date_select("birthday", :start_year => Date.current.year - 18, 
	                                    :end_year => Date.current.year - 90,
	                                    :order => [:day, :month, :year],
	                                    :prompt => {:day => 'Dag', :month => 'Maand', :year => 'Jaar'},
	                                    :use_month_names => ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus',
	                                    'September', 'Oktober', 'November', 'December']) %>
	    </li>
					<li class="left">
		  			    <%= f.label :email, 'E-mail'
		  			     %></strong><br />
		  			    <%= f.text_field :email, :autofocus => true, :class => 'field' %>
					</li>
					<li class="left">
					    <%= f.label :password, 'Wachtwoord' %></strong><br />
					   	<%= f.password_field :password, :class => 'field' %>
					    <div class='help_text' class='username_help_text'>
										<h2>Wachtwoord</h2>
                						<p>Uw wachtwoord bestaat uit:</p>
              							<p>- Minimaal 6 tekens</p>
                						<p>- Minimaal 1 hoofdletter en 1 kleine letter</p>
                						<p>- Minimaal 1 getal</p>
          							</div>
					</li>
					<li class="left">
					    <%= f.label :password_confirmation, 'Wachtwoord verificatie'%></strong><br />
					    <%= f.password_field :password_confirmation, :class => 'field' %>
					    <div class='help_text' class='username_help_text'>
										<h2>Wachtwoord</h2>
                						<p>Uw wachtwoord bestaat uit:</p>
              							<p>- Minimaal 6 tekens</p>
                						<p>- Minimaal 1 hoofdletter en 1 kleine letter</p>
                						<p>- Minimaal 1 getal</p>
          							</div>
					
					</li>
					
					<li class="left">
						<%= f.submit "Opslaan", :class => "button" %>
					</li>
				</ul>
			</article>
			
		</div>
	<% end %>
</div>
