<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
 	  </ul>
    </div>
  <% end %>

<div class="col">
	<ul>
	  	<!-- Met deze code hieronder kunnen users zichzelf admin maken, voor het geval er iets verkeerd gaat
	  	met de huidige admin in 't systeem
	  	<% if @user.new_record? %>
	  	<% else %>
	    <li>
	      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	    </li>
	    <% end %>-->


		<% if @user.role == "admin" %>
	  	  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	    <% end %>



	    <li>
	      <%= f.label :first_name, 'Voornaam *' %><br />
	      <%= f.text_field :first_name, class: 'field' %>
	    </li>
    
	    <li>
	      <%= f.label :last_name, 'Achternaam *' %><br />
	      <%= f.text_field :last_name, class: 'field'  %>
	    </li>

	    <li>
	      <%= f.label :email, 'E-mail *' %><br />
	      <%= f.text_field :email, :autofocus => true, class: 'field'  %>
	    </li>

	    <li> 
	      <%= f.label :user_name, 'Gebruikersnaam *' %><br />
	      <%= f.text_field :user_name, class: 'field'  %>
	    </li>

	    <li>
	      <%= f.label :license_plate, 'Kenteken *' %><br />
	      <p>Het kenteken bestaat uit zes tekens. Er worden geen "-"tekens ingevlid.</p>
	      <%= f.text_field :license_plate, class: 'field'  %>
	    </li>

	    <% if @user.new_record? %>
		  	<li>
		    	<%= f.label :password, 'Wachtwoord *' %><br />
		    	<p>Het wachtwoord bestaat uit minimaal 6 karakters waarvan minimaal 1 hoofdletter, 1 kleine letter en 1 cijfer</p>
		    	<%= f.password_field :password, class: 'field'  %>
			</li>
	  
		  	<li>
		    	<%= f.label :password_confirmation, 'Wachtwoord verificatie *' %><br />
		    	<%= f.password_field :password_confirmation, class: 'field'  %>
			</li>
		<% end %>

	    <li>
	      <%= f.label :birthday, 'Geboortedatum' %><br />
	      <%= f.date_select("birthday", :start_year => Date.current.year - 18, 
	                                    :end_year => Date.current.year - 90,
	                                    :order => [:day, :month, :year],
	                                    :prompt => {:day => 'Dag', :month => 'Maand', :year => 'Jaar'},
	                                    :use_month_names => ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Jlii', 'Augustus',
	                                    'September', 'Oktober', 'November', 'December']) %>
	    </li>
	        <br/>


	     <li>
	     	<%= f.check_box :terms_of_service %>
			Ik ga akkoord met de voorwaarden *
		</li>
		<li>
			<%= f.check_box :terms_of_privacy %>
			Ik ga akkoord met de privacyverklaring *
		</li>

		<li>
			<%= f.label :avatar %><br />
			<%= f.file_field :avatar %>
		</li>

	    <% if current_user %>
	      <li><%= f.submit "Opslaan" %></li>
	    <% else %>
	      <li><%= f.submit "Registreer" %></li>
	    <% end %>
	</ul>
	<% end %>
</div>
