<div id="pagewrap">		
<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> zorgen ervoor dat deze gebruiker niet opgeslagen kan worden:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
 	  </ul>
    </div>
<% end %>

		<div class="wrapper grid2">	
			<article class="col">
				<div id="vertical-line-right">
					<ul>

						<li>
							<h2>Bewerken</h2>
						</li>
						<li>
							<%= image_tag @user.avatar_url(:thumb), :class => "avatar" if @user.avatar? %>
						</li>
						<li>
						<%= f.file_field :avatar%>
						</li>
						<% if @user.new_record? %>
						<li>
			  			    <%= f.label :user_name, t('labels.user_name') %></strong><br />
			  			    <div class="tooltip"><%= f.text_field :user_name, :title => "De gebruikersnaam moet minimaal 4 en maximaal 20 tekens bevatten.", :class => 'field' %></div>
						</li>
						<% end %>
						<li class="center">
							<%= link_to 'Badges', :class => "button" %>
						</li>
					
					</ul>
				</div>
			</article>

		
	
		
								<!-- <%= link_to 'Terug', :root %> -->

	
	
			<article class="col">
				<ul>
					<li class="left top">
					    <%= f.label :first_name, t('labels.first_name') %></strong><br>
					    <%= f.text_field :first_name, :class => 'field' %>
					</li>
					<li class="left">
	  				  	<%= f.label :middle_name, 'Tussenvoegsel' %><br />
	  				  	<%= f.text_field :middle_name, class: 'field' %>
	   				</li>

					<li class="left">
		  			    <%= f.label :last_name, t('labels.last_name') %></strong><br>
		  			    <%= f.text_field :last_name, :class => 'field' %>
					</li>
					
						<li class="left">
	      <%= f.label :birthday, 'Geboortedatum' %><br />
	      <%= f.date_select("birthday", :start_year => Date.current.year - 18, 
	                                    :end_year => Date.current.year - 90,
	                                    :order => [:day, :month, :year],
	                                    :prompt => {:day => 'Dag', :month => 'Maand', :year => 'Jaar'},
	                                    :use_month_names => ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Jlii', 'Augustus',
	                                    'September', 'Oktober', 'November', 'December']) %>
	    </li>
					<li class="left">
		  			    <%= f.label :email, t('labels.email')
		  			     %></strong><br />
		  			    <%= f.text_field :email, :autofocus => true, :class => 'field' %>
					</li>
					<li class="left">
					    <%= f.label :password, 'Wachtwoord'
					     %></strong><br />
					    <div class="toolip"><%= f.password_field :password, :title => "Het wachtwoord moet minimaal 6 karakters bevatten, waarvan 1 hoofdletter, 1 kleine letter en 1 getal.", :class => 'field' %></div>
					</li>
					<li class="left">
					    <%= f.label :password_confirmation, 'Wachtwoord verificatie'%></strong><br />
					    <div class="tooltip"><%= f.password_field :password_confirmation, :title => "Het wachtwoord moet minimaal 6 karakters bevatten, waarvan 1 hoofdletter, 1 kleine letter en 1 getal.", :class => 'field' %></div>
					
					</li>
					
					<li class="left">
						<%= f.submit "Opslaan", :class => "button" %>
					</li>
				</ul>
			</article>
			
		</div>
	<% end%>
</div>
