	  	<ul class="search_results">
	  		<li class="search_results_left"><%= image_tag user.avatar_url(), :class => "avatar" %></li>
	  		<li class="search_results_middle">
	  			<p><strong><%= user.first_name %> <%= user.middle_name %> <%= user.last_name %></strong></p>
	  			<p><%= user.user_name %></p>
	  			<p>Kenteken: </p>
	  		</li>
	  		<li class="search_results_right">
	  			<p><%= link_to 'Dashboard bekijken', user_name_dashboard_path(user.user_name), :class => 'link' %></p>
	  		</li>
	  	</ul>
