<h1><%= @user.user_name %> - Edit</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  	<div><strong><%= f.label :email, 'E-mail' %>:</strong><br />
  		<%= f.text_field :email, :autofocus => true %>
	</div>
    
  	<div><strong><%= f.label :first_name, 'Voornaam' %>:</strong><br />
    	<%= f.text_field :first_name %></div>
    
  	<div><strong><%= f.label :last_name, 'Achternaam' %>:</strong><br />
     	<%= f.text_field :last_name %>
    </div>
    
  	<div> <strong><%= f.label :user_name, 'Gebruikers' %>:</strong><br />
     	 <%= f.text_field :user_name %>
    </div>

    <div>
      <strong><%= f.label :birthday, 'Geboortedatum' %>:<br/></strong>
      <%= f.datetime_select :birthday %>
    </div>
    
  	<div>
        <strong><%= f.label :license_plate, 'Kenteken' %>:</strong><br />
      	<%= f.text_field :license_plate %>
    </div>

    <div><%= f.submit %></div>
<% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', root_path %>
