<%= form_for(user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> zorgen ervoor dat deze gebruiker niet opgeslagen kan worden:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
 	  </ul>
    </div>
  <% end %>

 	 	<article class="col">
  				<div class="align-center">
  						<ul>
  							<li>
								<h2>Registreren</h2>
  							</li>
  							<li>
  							    <%= f.label :license_plate, t('labels.licence_plate')
  							     %></strong><br />
  							    <%= f.text_field :license_plate, :placeholder => '81TRR8', :class => 'field' %>
  							</li>
  							<li>
  							    <%= f.label :password, t('labels.password')
  							     %></strong><br />
  							    <%= f.password_field :password, :class => 'field' %>
  							</li>
  							<li>
  							    <%= f.label :password_confirmation, t('labels.password_confirmation')%></strong><br />
  							    <%= f.password_field :password_confirmation, :class => 'field' %>
								
							</li>
							
							<% if current_user %>
							<li><%= f.submit "Opslaan", class: 'button' %></li>
							<% end %>
  						
  						</ul>
  					</div>
  				</div>
  		</article>

  		<article class="col">
	<div class="align-center">
  					<div class="avatar_pre"></div>
					<ul>
  						<li>
  						<%= f.file_field :avatar%>

  					    <% if current_user %>
						<% else %>
						</li>
						<li><%= f.check_box :terms_of_service, class: 'checkbox' %>
						Ik ga akkoord met de voorwaarden *</li>
  			
						<li><%= f.check_box :terms_of_privacy, class: 'checkbox' %>
						Ik ga akkoord met de privacyverklaring *</li>
					
  					     <div><%= f.submit "Account aanmaken", :class => 'button' %></div>
  					    <% end %>
						</ul>
  				</div>
  			</div>
  		</article>
<% end %>