
<% provide(:title, "Dashboard")  %>

<div id="pagewrap">
	<div class="wrapper grid3">
		<div id="mockup">
		<!-- <% if current_user %>
			<h2>Welkom, <%= current_user.user_name %>
	
			<% if current_user.role == 'admin'%> 
				(<%= current_user.role %>).</h2>
					<p><%= link_to "Alle gebruikers", users_path %></p>
			<% end %>
	
		<% else %>

		redirect_to new_session_path

		<p><%= link_to "Login", new_session_path %> of <%= link_to "registeer", new_user_path %>.</p>


				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
		



				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %><br />
				<%= link_to "Sign in with Facebook/Callback", "/auth/facebook/callback", id: "sign_in" %>


		<% end %> -->
	</div>
	</div>
</div>
