<div id="pagewrap">	
	<div class="wrapper grid3">				
		<article class="col">
			<div class="align-center">
				<%= form_for(@user) do |f| %>
				<div class="vertical-line">
					<h2>Registreren</h2>					
					<ul>
						<li>
						    <%= f.label :first_name, 'Voornaam *' %></strong><br>
						    <%= f.text_field :first_name, :class => 'field' %>
						</li>
						<li>
			  			    <%= f.label :last_name, 'Achternaam *' %></strong><br>
			  			    <%= f.text_field :last_name, :class => 'field' %>
						</li>
						<li>
			  			    <%= f.label :email, 'E-mail *' %></strong><br />
			  			    <%= f.text_field :email, :autofocus => true, :class => 'field' %>
							</li>
						<li>
			  			    <%= f.label :user_name, 'Gebruikersnaam *' %></strong><br />
			  			    <%= f.text_field :user_name, :class => 'field' %>
						</li>
						<li>
						    <%= f.label :license_plate, 'Kenteken *' %></strong><br />
						    <%= f.text_field :license_plate, :placeholder => '81TRR8', :class => 'field' %>
						</li>
						<li>
						    <%= f.label :password, 'Wachtwoord *' %></strong><br />
						    <%= f.password_field :password, :class => 'field' %>
						</li>
						<li>
						    <%= f.label :password_confirmation, 'Wachtwoord verificatie *' %></strong><br />
						    <%= f.password_field :password_confirmation, :class => 'field' %>
						</li>
					</ul>
				</div>
			</div>
					</article>
			
					<article class="col">	
						<div class="align-center">
							<div class="avatar_pre"></div>		
							<br />
							<%= f.file_field :avatar%>
							<br />
							<br />
							<small><%= check_box :terms_of_service, 'true' %>
							Ik ga akkoord met de voorwaarden *</small>
							<br />
							<small><%= check_box :terms_of_privacy, 'true' %>
							Ik ga akkoord met de privacyverklaring *</small>
							<br />	
							<br />	
				
						    <% if @current_user %>
						      <div><%= f.submit "Opslaan" %></div>
						    <% else %>
						      <div><%= f.submit "Account aanmaken", :class => 'button' %></div>
						    <% end %>
						<% end %>
						</div>
						
					</article>
					
					</div>
			
		

			

			<%= link_to 'Terug', root_path %>
		</div>
		
	</div>
</div>
