<% provide(:title, @user.user_name)%>

<p id="notice"><%= notice %></p>
	
<!--Used to show avatar  -->

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="grid2">	
	<div class="col">	
		<div class="align-center">
			
		<%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>
	
	  	<h1 id="username"><%= @user.user_name %></h1>

		<%= link_to 'Bewerken', edit_user_path(@user), class: "button" %>
		
	  	<ul>Kenteken:</ul>
	    <%= @user.license_plate %>
		
		<ul>
		  <li>Model:			<%= @trace.title %></li>
		  <li>Kenteken:			<%= @trace.licence_plate %></li>
		  <li>GPS Longitude:	<%= @trace.gps_longitude %></li>
		  <li>GPS Latitude:		<%= @trace.gps_latitude %></li>
		</ul>
	
		<%= link_to "Badges", class: "button" %>	
		
							<!-- <%= link_to 'Terug', :root %> -->
		</div>
		


	</div>
	
	<div class="col">
		<div class="vertical-line">
			<ul id="profile_info">
			 	<li>Email:
			  	<%= mail_to @user.email, @user.email %><br /></li>
	 
			  	<li>Voornaam:
			   	<%= @user.first_name %><br /></li>
   
			  	<li>Achternaam:
			    <%= @user.last_name %><br /> </li>

			    <li>Geboortedatum:
			    <%= @user.birthday %><br /></li>
							
				<li>Batterij status <%= number_to_percentage(@trace.battery_value, :precision => 2) %></li>				
			</ul>
		</div>
				<div id="chart_div" data-miles="<%= @miles.to_json %>" style="width:500px; height:250px"></div>
		<div id="chart_div2" style="width:500px; height:250px"></div>
		<div id="chart_div3" data-battery="<%= @battery.to_json %>" style="width:500px; height:250px"></div>
	</div>
	

</div>



	


