<% provide(:title, @user.user_name)%>
<div id="pagewrap">	
	<p id="notice"><%= notice %></p>
		
		<%= form_for(@user) do |f| %>
		  <% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
		      <ul>
		      <% @user.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		<% end %>

	<div class="wrapper grid2">	
		<div class="col">
			<div id="vertical-line-right">
				<ul>
					<li><h2>Profiel</h2></li>
					<li><%= image_tag @user.avatar_url(:thumb), :class => "avatar" if @user.avatar? %></li>
					<li><h3><small>Gebruikersnaam</small>	<br /><%= @user.user_name %></h3></li>
					<li><h3><small>Model</small>			<br />Opel Ampera</h3></li>
					<li><h3><small>Kenteken</small>			<br /><%= @user.license_plate %></h3></li>
					<li><h3><%= link_to 'Badges', :class => "button" %></h3></li>	
					<% if current_user.role == 'admin' || (current_user == @user) %>	
					<li><h3><%= link_to 'Bewerken', edit_user_path(@user), :class => "button" %></h3></li>
					<% end %>
				</ul>
			</div>

		</div>

		<div class="col">
			<ul id="profile_info">
				<li>Naam:			<%= @user.first_name.capitalize %> <%= @user.last_name.split(" ").each{|word| word.capitalize!}.join(" ")	 %><br /></li>					
				<li>Email:			<%= mail_to @user.email, @user.email %><br /></li>
				<li>Geboortedatum:	<%= @user.birthday %></li>
				<li>GPS Longitude:	<%= @trace.gps_longitude %></li>
				<li>GPS Latitude:	<%= @trace.gps_latitude %></li>
				<li>Batterij status	<%= number_to_percentage(@trace.battery_value, :precision => 2) %></li> 
				
	
					<%= current_user.points %>
					<% if current_user.points < 1000 %>
						<%= current_user.add_points(40) %>
					<% else %>
						<%= current_user.substract_points(300) %>
					<% end %>

					
			</ul>
	
			<div id="chart_div" data-miles="<%= @miles.to_json %>" style="width:500px; height:250px"></div>
			<div id="chart_div2" style="width:500px; height:250px"></div>
			<div id="chart_div3" data-battery="<%= @battery.to_json %>" style="width:500px; height:250px"></div>
			<div id="chart_div4" data-points="<%= @points.to_json %>" style="width:500px; height:250px"></div>
			
			
			<% if @segment.mileage = 5000..10000 %>
			<div class="badge">
				
			</div>
			<% else %>
			<div class="badge2">
				
			</div>
			<% end %>
			
		</div>
</div>



	


