<% provide(:title, @user.user_name)%>
<div id="pagewrap">	

	<div class="wrapper grid2">	
		<div class="col">
			<div id="vertical-line-right">
				<ul>
					<li>
						<h2>Profiel</h2>
					</li>
					<li>
						<% if @user.avatar? %>
						<%= image_tag @user.avatar_url(:thumb), :class => "avatar" %>
						<% else %>
						<%= image_tag("avatar.png", :alt => "default-avatar", :class => "avatar") %>
						<% end %>
					</li>
					<li class="center">
						<h3><small class="green">Gebruikersnaam</small><br />
							<%= @user.user_name %></h3>
					</li>
					<li class="center">
						<h3><small class="green">Model auto</small><br />
					    <%= @car.model %></h3>
					</li>
					<li class="center">
						<h3><small class="green">Kenteken</small><br />
					    <%= @car.license_plate %></h3>
					</li>
					<!-- <li class="center">
						<h3><%= link_to 'Badges', :class => "button" %></h3>
					</li> -->			
				</ul>
			</div>
						
		
							<!-- <%= link_to 'Terug', :root %> -->
		</div>
		<div class="col">
			<ul>
				<li class="right">
					<%= link_to 'Bewerken', edit_user_path(@user), :class => "button_small" %>
				</li>
			
				<li class="left">
					<h3><small class="green">Naam</small><br />
						<%= @user.first_name %> <%= @user.middle_name%> <%= @user.last_name %></h3>
				</li>
				<li class="left">
					<h3><small class="green">E-mail</small><br />
						<%= mail_to @user.email, @user.email %></h3>
				</li>
				<li class="left">
				  	<h3><small class="green">Geboortedatum</small><br />
				  		<% if @user.birthday.blank? %>
				  			<p>Er is geen geboortedatum ingevuld.</p>
				  		<% else %>
				    		<%= @user.birthday.strftime("%e-%-m-%Y") %></h3>
				    	<% end %>
				</li>				
			</ul>
		</div>
	</div>
</div>



	


