<% provide(:title, @user.user_name)%>

<p id="notice"><%= notice %></p>
	

<!--Used to show avatar  -->

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="grid2">	
	<div class="col">	
		<div class="align-center">
			
		<%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>
	
	  	<h1 id="username"><%= @user.user_name %></h1>

		<%= link_to 'Bewerken', edit_user_path(@user), class: "button" %>
		
	  	<ul>Kenteken:</ul>
	    <%= @user.license_plate %>
		
		<ul>
		  <li>Model:			<%= @trace.title %></li>
		  <li>Kenteken:			<%= @trace.licence_plate %></li>
		  <li>GPS Longitude:	<%= @trace.gps_longitude %></li>
		  <li>GPS Latitude:		<%= @trace.gps_latitude %></li>

		</ul>
	
		<%= link_to "Badges", class: "button" %>	
		
							<!-- <%= link_to 'Terug', :root %> -->
		</div>
	</div>
	
	<div class="col">
		<div class="vertical-line">
			<ul id="profile_info">
			 	<li>Email:
			  	<%= mail_to @user.email, @user.email %><br /></li>
	 
			  	<li>Voornaam:
			   	<%= @user.first_name %><br /></li>
   
			  	<li>Achternaam:
			    <%= @user.last_name %><br /> </li>

			    <li>Geboortedatum:
			    <%= @user.birthday %>	<br /></li>
				
				<script type="text/javascript" charset="utf-8">
				$(function(){
					new Highcharts.Chart({
				        chart: {
				          renderTo: "orders_chart"
				        },
				        title: {
				          text: "Traces by day"
				        },
				        xAxis: {
				          type: "datetime"
				        },
				        yAxis: {
				          title: {
				            text: "Battery by percent"
				          }
				        },
				        tooltip: {
				          formatter: function() {
				            return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
				              "$" + Highcharts.numberFormat(this.y, 2);
				          }
				        },
				        series: [
				        {

				          pointInterval: <%= 1.day * 1000 %>,
				          pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
				        },
				
				        ]
					});
				});
				</script>
					<div id="orders_chart" style="width:560px; 							height300px;"></div>
					
			</ul>
		</div>
	</div>

</div>



	


