<h1>Dashboard</h1>

<% if current_user %>
	<h2>Hallo, <%= current_user.user_name %> de <%= current_user.role %>.</h2>
		<p><%= link_to "Alle gebruikers", users_path %></p>
	<p><%= link_to "Mijn profiel", user_path(current_user) %></p>
	<p><%= link_to "Uitloggen", logout_path, :method => :delete %></p>

	<% else %>
		<p><%= link_to "Login", new_session_path %> of <%= link_to "registeer", new_user_path %>.</p>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %><br />
		<%= link_to "Sign in with Facebook/Callback", "/auth/facebook/callback", id: "sign_in" %>

<% end %>
