
<% provide(:title, "Dashboard")  %>

<% if current_user %>
	<h2>Welkom, <%= current_user.user_name %>
	<% if current_user.role == 'admin'%> 
		(<%= current_user.role %>).</h2>
		<p><%= link_to "Alle gebruikers", users_path %></p>
	<% end %>
	<p><%= link_to "Mijn profiel", user_path(current_user) %></p>
	<p><%= link_to "Uitloggen", logout_path, :method => :delete %></p>
 	<p><%= link_to "Traces", traces_path %>

	<% else %>

		redirect_to new_session_path

		<p><%= link_to "Login", new_session_path %> of <%= link_to "registeer", new_user_path %>.</p>

		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
		
<% end %>
