<% provide(:title, "Dashboard")%>
<div id="pagewrap">
	<div class='wrapper grid2'>
		<div id="col_dashboard_left">
			<div id='chart'>
				<div id="chart_div" data-car_miles='<%= @car_miles.to_json %>' style="width:500px; height:250px"></div>
				<ul>
					<li class="vertical-line-dashboard">Totaal  <%= @car.mileage / 1000 %> km</li>
					<li class="vertical-line-dashboard">Elektrisch  <%= @car.mileage_electric / 1000 %> km</li>
					<li class="vertical-line-dashboard">Fossiel <%= @car.mileage_fossile / 1000 %> km</li>
				</ul>
			</div>
			<div id="blanket"></div>
			<ul id="badges" class="center">	
				<li class="badge">
					<% @badges_electric.each do |badge| %>
						<%= image_tag badge.avatar_url(), class: 'avatar' %>		
						<!-- <% if badge.value == 0 %>
						<% else %>
						<p><%= badge.value %> elektrische kilometer badge </p>	  
						<p>Punten: <%= badge.points %></p>
						<% end %> -->
					<% end %>
				</li>
				
				<li class="badge">
					<% @badges_fossile.each do |badge| %>
						<%= image_tag badge.avatar_url(), class: 'avatar' %>		
						<!-- <% if badge.value == 0 %>
						<% else %>
						<p><%= badge.value %> fossiele kilometer badge </p>				 
						<p>Punten: <%= badge.points %></p>
						<% end %> -->
					<% end %>
				</li>
		
				<li class="badge">
					<% @badges_mileage.each do |badge| %>
						<%= image_tag badge.avatar_url(), class: 'avatar' %>		
						<!-- <% if badge.value == 0 %>
						<% else %>
						<p><%= badge.value %> totaal kilometer badge </p>				 
						<p>Punten: <%= badge.points %></p>
						<% end %> -->
					<% end %>
				</li>
			</ul>	
		</div>
		<div id="col_dashboard_right">
			<div id="profile">
				<ul>
					<li class="center">
						<% if @user.avatar? %>
						<%= image_tag @user.avatar_url(:thumb), :class => "avatar" %>
						<% else %>
						<%= image_tag("avatar.png", :alt => "default-avatar", :class => "avatar") %>
						<% end %>
					</li>
	
					<li class="center"><%= link_to @user.user_name, user_path(current_user) %></li>
		
					<li class="center"><%= @user.first_name %> <%= @user.middle_name%><%= @user.last_name %></li>
	
					<li class="center"><%= @car.model %></li>
	
					<li class="center">
					  <% if @user.score %>
					    <%= @user.score %> Punten
					  <% end %>
					</li>

					<li>
					  <% if @user.rank %>
					    Rang: <%= @user.rank %>
					  <% end %>
					</li>
				</ul>
			</div>
			<div class="nav_dashboard">
				<ul>
					<li class="center"><%= link_to 'Alle Badges', root_url%></li>
					<li class="center"><%= link_to 'Algemeen', root_url%></li>
					<li class="center"><%= link_to 'Groen', root_url%></li>
					<li class="center"><%= link_to 'D(r)ivers', root_url%></li>
					<li class="center" style="background:none"><%= link_to 'Uitzonderlijk', root_url%></li>	
				</ul>	
			</div>
		</div>
	</div>
	<div id="tutorial">
		<div id="tutorial_1" class="arrow_box_bottom">
			<h1>Welkom bij Greendrivers</h1>
			<p>Om snel van start te kunnen gaan volgt hier een kleine uitleg over de applicatie</p>
			<a href="#" onclick="profile('')" class="button">Volgende</a>
		</div>
		<div id="tutorial_2" class="arrow_box_right">
			<h1>Dit ben jij</h1>
			<a href="#" onclick="tutorial('')" class="button">Vorige</a>
			<a href="#" onclick="badges('')" class="button">Volgende</a>	
		</div>
	</div>
</div>