<% provide(:title, "Dashboard")%>

<div id="pagewrap">
	<div id="blanket"></div>	

		<div id="col_dashboard_left">
			<div id="chart_header">
				<ul class='chart_info'>
					<li class='vertical-line-dashboard'><%= link_to '', '' %></li>
					<li class='vertical-line-dashboard'><a href="#" id="week">Vorige week</a></li>
					<li class='vertical-line-dashboard'><a href="#" id="month">Vorige maand</a></li>
					<li class='vertical-line-dashboard'><a href="#" id="all">Alles</a></li>
				</ul>
				
			</div>
			<div id='chart'>
				<%= render 'charts'%>
			</div>
						
			<ul id="badges" class="center">	
				<li class="badge">
					<% @badges_electric.each do |badge| %>
						<%= image_tag badge.avatar_url(), class: 'avatar' %>		
						<!-- <% if badge.value == 0 %>
						<% else %>
						<p><%= badge.value %> elektrische kilometer badge </p>	  
						<p>Punten: <%= badge.points %></p>
						<% end %> -->
					<% end %>
				</li>
				
				<li class="badge">
					<% @badges_fossile.each do |badge| %>
						<%= image_tag badge.avatar_url(), class: 'avatar' %>		
						<!-- <% if badge.value == 0 %>
						<% else %>
						<p><%= badge.value %> fossiele kilometer badge </p>				 
						<p>Punten: <%= badge.points %></p>
						<% end %> -->
					<% end %>
				</li>
				
				<li class="badge">
					<% @badges_ratio.each do |badge| %>
						<%= image_tag badge.avatar_url(), class: 'avatar' %>		
						<!-- <% if badge.value == 0 %>
						<% else %>
						<p><%= badge.value %> fossiele kilometer badge </p>				 
						<p>Punten: <%= badge.points %></p>
						<% end %> -->
					<% end %>
				</li>
		
				
			</ul>	
		</div>
		<div id="col_dashboard_right">
			<div id="profile">
				<ul>
					<li class="center">
						<% if @user.avatar? %>
						<%= image_tag @user.avatar_url(), :class => "avatar" %>
						<% else %>
						<%= image_tag("avatar.png", :alt => "default-avatar", :class => "avatar") %>
						<% end %>
					</li>
	
					<li class="center"><%= link_to @user.user_name, user_path(@user) %></li>
		
					<li class="center"><%= @user.first_name %> <%= @user.middle_name%> <%= @user.last_name %></li>
	
					<li class="center"><%= @car.model %></li>
	
					<li class="center">
					  <% if @user.score %>
					    <%= @user.score %> Punten
					  <% end %>
					</li>

					<li>
					  <% if @user.rank %>
					    Rang: <%= @user.rank %>
					  <% end %>
					</li>
				</ul>
			</div>
			<div class="nav_dashboard">
				<ul>
					<li class="center"><%= link_to 'Bekijk badges', user_name_badges_path(current_user.user_name) %></li>
					<li class="center"><%= link_to 'Bekijk profiel', user_name_path(current_user.user_name)%></li>
					<% if can? :destroy, @user %>
						<li class="center" style="background:none"><%= link_to 'Uitloggen', logout_path, :method => :delete %></li>	
					<% end %>
				</ul>	
			</div>
		</div>
		<div id="tutorial">
			<div id="tutorial_1" class="arrow_box_bottom">
				<h1>Welkom bij Greendrivers</h1>
				<p>Om snel van start te kunnen gaan volgt hier een kleine uitleg over de applicatie</p>
				<a href="#" class="next">Volgende</a>
			</div>
			<div id="tutorial_2" class="arrow_box_right">
				<h1>Dit ben jij</h1>
				<div class="buttons">
					<a href="#" class="prev">Vorige</a>
					<a href="#" class="next">Volgende</a>	
				</div>
			</div>
			<div id="tutorial_3" class="arrow_box_left">
				<h1>Dit gaat over je auto</h1>
				<p>De kilometers van de afgelopen tijd kun je hier terug vinden.</p>
				<div class="buttons">
					<a href="#" class="prev">Vorige</a>
					<a href="#" class="next">Volgende</a>	
				</div>
			</div>
			<div id="tutorial_4" class="arrow_box_bottom">
				<h1>Dit zijn badges</h1>
				<p>Als beloning voor je rijgedrag verdien je badges, de laatste drie die je verdiend hebt vind je hier terug.</p>
			</div>
			<div id="tutorial_5" class="arrow_box_bottom">
				<h1>Dit zijn snelkoppelingen</h1>
				<p>Om snel door de applicatie te surfen.</p>
			</div>
			<div id="tutorial_6">
				<div class="arrow_box_top">Zoeken</div>
				<div class="arrow_box_top">Menu</div>
				<div class="arrow_box_top">Help</div>
			</div>
			<div class="buttons">
				<a href="#" class="prev">Vorige</a>
				<a href="#" class="next">Afsluiten</a>	
			</div>
		</div>

</div>