<div id="pagewrap">
	<div class="wrapper fullwidth">
		<%= form_for(@car) do |f| %>
		
			<ul>
				<li>
					<h2>Auto koppelen</h2>
				</li>
				<li>
					<p class="justify">
						Hieronder moet je inloggen met de gegevens van 360-ev.com.
						Dit is slechts eenmalig. Deze gegevens zijn nodig om de data van de auto
						op te kunnen halen.
					</p>
				</li>
					<%= f.hidden_field :user_id, value: current_user.id %>
				<li>
					<%= f.label :username, 'Username (360-ev.com) *' %><br />
					<%= f.text_field :username, :class => "field" %>
				</li>
				<li>	
					<%= f.label :password, 'Wachtwoord (360-ev.com) *' %><br />
					<%= f.password_field :password, :class => "field" %>
				</li>
				<li>
					<%= f.label :license_plate, 'Kenteken *' %><br />
					<%= f.text_field :license_plate, :class => "field" %>
				</li>
				<li>
					<%= f.label :model, 'Model auto' %><br />
					<%= f.text_field :model, :class => "field" %>
				</li>
				<li>
					<%= f.submit 'Koppelen', :class => "button" %>
				</li>
			</ul>
			
		<% end %>
					
		
	</div>
</div>
