<div id="header">
	
	
	
	<%= link_to image_tag("glyphicons_020_home.png", id: "icon_home"), root_path %>
	<h3 class="title"> Profiel </h3>
	<%= link_to image_tag("glyphicons_027_search.png", id: "icon_search")%>
			
	<%= link_to image_tag("glyphicons_158_show_lines.png", id: "icon_line") %>
			
	<!-- <%= link_to "Gebruikers", users_path %> -->
		
		

</div>
		


<!-- <%= link_to 'Alle gebruikers', users_path %>
	<%= link_to 'Mijn profiel', user_path(current_user) %>
	<%= link_to 'Uitloggen', logout_path, :method => :delete %> -->
