
<% if current_user %>

	<td><p>Ingelogd als <%= current_user.user_name %> (<%= current_user.role %>).
	<%= link_to 'Alle gebruikers', users_path %>

	<div class="header">
		
		<%= link_to image_tag("glyphicons_020_home.png", id: "icon_home"), root_path %>
	
		<%= link_to image_tag("glyphicons_027_search.png", id: "icon_search")%>
			
		<%= link_to image_tag("glyphicons_158_show_lines.png", id: "icon_line") %>
			
		<!-- <%= link_to "Gebruikers", users_path %> -->
	</div>

<% end %>
