<% if current_user %>
<div id="progressbar"></div>
	<td><p>Ingelogd als <%= current_user.user_name %><% if current_user.role == 'admin'%> (<%= current_user.role %>)<% end %>.
	<%= link_to 'Alle gebruikers', users_path %>
	<%= link_to "Mijn profiel", user_path(current_user) %>
	<%= link_to "Uitloggen", logout_path, :method => :delete %></p>

	<div class="header">
		
		<%= link_to image_tag("home.png"), root_path %>
	
		<%= link_to image_tag("search.png") %>
			
		<%= link_to image_tag("menu.png") %>
			
		<!-- <%= link_to "Gebruikers", users_path %> -->
	</div>

<% end %>
