<!DOCTYPE html>
<html>
<head>
  
<title><%= full_title(yield(:title)) %></title>
<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application', :media => "all" %>
	<script type>
	$(function(){
		$('.tooltip [title]').tipsy({trigger: 'focus', gravity: 'n'});
	});
	</script>
</head>
<body>

	
		<%= render "layouts/header" %>

	<div id="error_bar">
	
		<% if flash[:notice] %>
	    	<p class="notice"><%= flash[:notice] %></p>
	    <% end %>	 

	    <% if flash[:error] %>
	   		<p class="error"><%= flash[:error] %></p>
	    <% end %>	 

	    <% if flash[:success] %>
	    	<p class="succes"><%= flash[:success] %></p>
		<% end %>	

	</div>
		
		<%= yield %>

	
</body>
</html>


