<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD
  
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  
  
=======
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
>>>>>>> 6583f190510596418c0437a461f3d0c6ea8e88d2
</head>
<body>
	<div id="pagewrap">
		<%= render "layouts/header" %>
		
		<%= yield %>
	</div>
</body>
</html>
