<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery-1.9.1.min", "rails", "highcharts" %>
  <%= csrf_meta_tags %>

  
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  
</head>
<body>
	
	<% if controller_name == "sessions"%>
	 	<%= render "layouts/header-login" %>
	<% else %>
		<%= render "layouts/header" %>
	<% end %>
		
			
		<%= yield %>
		
	
		


</body>
</html>


